* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  background: #0082c7;
}

#mudaLayout {
  display: none;
}

body {
  background-color: #E8E8E8;
}

.cartao{
  background: #EBEF40;
  margin: 16px;
  padding: 16px;
  display: inline-block;
  width: 190px;
  flex-grow: 1;
  box-sizing: border-box;
  text-align: left;
}

.container {
  padding: 0 10%;
}

.mural{
  display: flex;
  flex-wrap: wrap;
  text-align:center;
}

.mural--linhas {
  flex-direction: column;
}

.mural--linhas .cartao {
  flex-basis: auto;
  width: auto;
  display: block;
}


@media(min-width: 560px){
  .cartao {
    width: 190px;
    display: inline-block;
  }

  #mudaLayout {
    display: inline-block;
  }
}
